body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1b;
  color: #94f3e4;
}
h1 {
  color: #37aa9c;
}
.dropdown {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.dropdown li {
  background-color: #333f44;
  color: #94f3e4;
  padding: 10px;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #37aa9c;
}

.day-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
}

.week-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333f44;
  margin: 10px;
  padding: 10px;
  background-color: #333f44;
  color: #94f3e4;
  width: 200px;
}

.movie-item img {
  width: 100%;
  max-width: 200px;
  height: 100%;
}

/* Class for day view */
.day-view {
  background-color: #37aa9c;
}
/* Class for week view */
.week-view {
  background-color: red;
}

/* Styles for the select element */
#view-select {
  background-color: #333f44;
  color: #94f3e4;
  border: 2px solid #37aa9c;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

#view-select:hover {
  background-color: #37aa9c;
  color: #333f44;
}

#view-select:focus {
  box-shadow: 0 0 0 3px rgba(55, 170, 156, 0.5);
}

/* Styles for the options */
#view-select option {
  background-color: #333f44;
  color: #94f3e4;
  padding: 10px;
}

#view-select option:hover,
#view-select option:focus {
  background-color: #37aa9c;
  color: #333f44;
}

#view-select option:checked {
  background-color: #37aa9c;
  color: #333f44;
  font-weight: bold;
}
