<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About TMDB</title>
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="../styles/about.css" />
  </head>
  <body>
    <h1>About TMDB</h1>

    <nav class="nav-bar">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/views/about.html">About</a></li>
        <li><a href="/views/favorites.html">Favorites</a></li>
        <li><a href="/views/search.html">Search</a></li>
      </ul>
    </nav>
    <section class="about-section">
      <h2>Discover TMDB</h2>
      <p>
        The Movie Database (TMDB) is a dynamic, community-driven platform
        dedicated to movies and TV shows. Since our inception in 2008, our
        extensive database has been enriched by contributions from an incredible
        community of users around the globe. Our commitment to
        internationalization and comprehensive data is unparalleled, making TMDB
        a unique hub for film enthusiasts and developers alike. At TMDB,
        community is at the heart of what we do, and it's what sets us apart.
      </p>

      <h3>Why Choose TMDB?</h3>

      <ul>
        <li>
          <strong>Community Contributions:</strong> Each year since 2008, we’ve
          seen a surge in contributions to our database. With over 1.5 million
          developers and organizations leveraging our platform, TMDB has
          established itself as a leading source for film and television
          metadata.
        </li>
        <li>
          <strong>Vast Media Library:</strong> Beyond extensive information
          about movies, TV shows, and individuals, we pride ourselves on
          offering an impressive collection of high-resolution posters and
          backdrops. Our community adds more than 1,000 new images daily,
          ensuring our library remains fresh and exciting.
        </li>
        <li>
          <strong>Global Reach:</strong> TMDB supports 39 languages and features
          extensive regional data, making it a truly global resource. Our
          platform is actively used in over 180 countries every day, bridging
          cultural gaps and uniting film lovers everywhere.
        </li>
        <li>
          <strong>Unmatched Community Support:</strong> Our dedicated staff and
          community moderators are committed to providing exceptional support.
          We strive to ensure that your experience on TMDB is not just
          satisfactory but truly outstanding.
        </li>
        <li>
          <strong>Reliable and Trusted:</strong> Millions of users depend on our
          platform daily, and we handle over 3 billion requests annually. With a
          proven track record, TMDB has established itself as a trustworthy
          resource for film and television information.
        </li>
      </ul>

      <h3>Get in Touch with TMDB</h3>
      <p>
        Whether you’re a developer, a movie buff, or simply curious, we welcome
        you to join our community. Reach out to us with any questions or
        suggestions!
      </p>
    </section>

    <script type="module">
      import "../controllers/day-controller.js";
      import "../controllers/week-controller.js";
      import "../utils/dropdown-functionality.js";
      import "../controllers/search-controller.js";
    </script>
  </body>
</html>
